* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%; /* 1rem=10px*/
  font-family: Arial, Helvetica, sans-serif; 
}

/* Template Login */
.container{
  background-color: rgb(255, 255, 255);
  border: 20px solid #078080;
  width: 100%;
  min-width: 320px;
}
.login_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  /* max-width: 320px; */
}
.login_container div{
  text-align: center;
  margin: 10px;
}
.logo{
width: 30%;
} 
.login_container--div{
  font-size: 2rem;
  width: 80%;
  max-width: 50%;
  height: 40px;
  box-shadow: rgb(0 0 0 / 40%) 2px 2px 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 518px;
}
.login_container--input{
  width: 80%;
  height: 80%;
  justify-content: center;
  text-align: center;
  border: none;
}

.button-signIn{
  padding: 9px 25px;
  background:  #f45d48;
  border-radius: 50px;
  width: 140px;
  height: 40px;
  color: #ececec;
  font-weight: bold;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}
.btn-google {
  border: none;
  background: #fffffe;
  cursor: pointer;
  width: 140px;
  
}
.login_container--google {
  font-size: 1.3rem;
}
.google-icons {
  width: 70px;
}
.login_container--register{
  font-size: 1.3rem;
}
.check-in {
  border: none;
  width: 100%;
  /* height: 10%; */
  color: #000000fa;
  font-weight: bold;
  font-size: 1.4rem;
  background: #fffffe;
  padding: 10px 15px;
  cursor: pointer;
}

/* register */
.register_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.register_container div{
  text-align: center;
  margin: 10px;
}

.register_container--div{
  font-size: 2rem;
  width: 80%;
  max-width: 50%;
  height: 40px;
  box-shadow: rgb(0 0 0 / 40%) 2px 2px 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 518px;
}
.register_container--input{
  width: 80%;
  height: 80%;
  justify-content: center;
  text-align: center;
  border: none;
}
.button-signUp{
  padding: 9px 25px;
  background:  #f45d48;
  border-radius: 50px;
  width: 140px;
  height: 40px;
  color: #ececec;
  font-weight: bold;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}
p{
  font-size: 1.3rem;
  margin:3px;
}

/* HOME */
.home{
  background-color: rgb(255, 255, 255);
}
.nav-home{
  background-color: #078080;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-home {
  width: 15%;
}
.buttons-nav {
  padding: 8px 25px;
  width: 150px;
  border: 2px solid #f45d48;
  border-radius: 8px;
  padding: 3px;
}
.div-logOut{
  background: #f45d48;
  box-shadow: rgb(0 0 0 / 40%) 1px 2px 2px;
  width: 15%;
  border-radius: 8px;
  padding: 3px;
  cursor: pointer;
}
.button-logOut{
  font-weight: bold;
  border:none;
  color: #ececec;
  background: #f45d48;
}


.feed{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 10px;
/* border-style: dotted; */
}
.header-feed{
  background: #EFD3D3;
  margin: 15px; 
  padding: 10px 15vw;
  font-size: 1.5rem;
}
.feed-post{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-post{
  padding: 5px 10vw;
  border-style: double;
  color:red;
  display: flex;
  flex-direction: column;
}
.post-new{
  padding: 5px 10vw;
  margin: 5%;
}
.post-new {
  border: 1.8px solid #078080;
}
.button-WUP{
    color: #ececec;
  font-weight: bold;
  background: #f45d48;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 40%) 1px 2px 2px;
  width: 90px;
  border-radius: 8px;
  padding: 3px;
}
.get-post {
  font-size: 1.2rem;
  border: 2px solid #f45d48;
  text-align: center;
  padding: 5px 10vw;
  margin: 5%;
}
